@page
@model EJE0701.IndexModel
@{
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <link rel="stylesheet" href="~/css/StyleSheet.css">

        <meta charset="UTF-8">
        <title>EJE0701</title>
    </head>
    <body>
        <header>
        <div class="logotipo"><img src="~/img/Imagen1.png"/></div>
            <span class="nombre">Samuel Alvarado Yanes - 1º DAW B</span>
        </header>
        <div class="central">
        <section>

        @{
            if (Request.Method == "POST")
            {
                string ejercicio = Request.Query["ejercicio"];
                switch (ejercicio)
                {
                    case "1":
                        decimal num1 = Decimal.Parse(Request.Form["num1"]);
                        decimal num2 = Decimal.Parse(Request.Form["num2"]);
                            <h1>Operaciones con números</h1>
                        if (num2 != 0)
                            {
                                decimal suma = num1 + num2;
                                decimal resta = num1 - num2;
                                decimal multiplicacion = num1 * num2;
                                decimal division = num1 / num2;

                                <div class="formulario">
                                    <form name="formEjercicio1" method="post" action="/?ejercicio=1">
                                        <fieldset>
                                            <label>Primer Número</label>
                                                <input type="number" name="num1" placeholder="@num1" required />
                                            <br/>
                                            <label>Segundo Número</label>
                                            <input type="number" name="num2" placeholder="@num2" required/>
                                            <br/>
                                                <input type="submit" value="Operar" class="boton" />
                                        </fieldset>
                                    </form>
                                </div>

                                <div class="resultado">
                                    <span>Suma</span>
                                    <br />
                                    <span>@num1 + @num2 = @suma</span>
                                    <br />
                                    <span>Resta</span>
                                    <br />
                                    <span>@num1 - @num2 = @resta</span>
                                    <br />
                                    <span>Multiplciación</span>
                                    <br />
                                    <span>@num1 x @num2 = @multiplicacion</span>
                                    <br />
                                    <span>División</span>
                                    <br />
                                    <span>@num1 / @num2 = @division</span>
                                    <p></p>
                                </div>
                            }
                            else
                            {
                                <span>Error! El segundo número no puede ser 0 ya que se usará como Divisor. <a href="/?ejercicio=1">Inténtelo de nuevo</a></span>
                            }
                        
                            break;

                        case "2":
                            string texto = Request.Form["texto"];
                            string textoAux = texto;
                            string palabra = Request.Form["palabra"];
                            int contador = 0;
                            <h1>Cuenta palabras</h1>
                            if (texto.Length > 0 && palabra.Length > 0 )
                            {
                                @while (textoAux.Contains(palabra))
                                {
                                    contador++;
                                    textoAux = textoAux.Remove(0, (textoAux.IndexOf(palabra) + palabra.Length));
                                }

                                <span>Frase: @texto</span>
                                <br />
                                <span>Palabra: @palabra</span>
                                <br />
                                <span>La palabra "@palabra" aparece @contador veces.</span>
                            }
                            else
                            {
                                <span>Error! debe introducir texto en ambos campos. <a href="/?ejercicio=2">Inténtelo de nuevo</a></span>
                            }

                            

                            break;
                        case "3":
                            DateTime hoy = DateTime.Now;
                            DateTime fecha = DateTime.Parse(Request.Form["fecha"]);
                            TimeSpan diferenciaDias = hoy - fecha;
                            <h1>Cuenta días</h1>
                            <div>
                            <form name="formEjercicio3" method="post" action="/?ejercicio=3">
                            <fieldset>
                                <span>Hoy: @DateTime.Now.ToString("dd/MM/yyy")</span>
                                <br />
                                <label>Fecha</label>
                                            <input type="datetime" name="fecha" required />
                                        <br />
                                <input type="submit" value="Contar días!" class="boton" />
                            </fieldset>
                            </form>

                            @{

                                    if (fecha.Day <= hoy.Day)
                                    {
                                        <span>Desde el @fecha.ToString("dd/MM/yyyy") hasta el día de hoy (@hoy.ToString("dd/MM/yyyy"))</span>
                                        <br/>
                                        <span>Han pasado @diferenciaDias.Days días.</span>

                                    }
                                    else
                                    {
                                        <span>Error! introduzca una fecha válida (anterior a Hoy @hoy.ToString("dd/MM/yyyy")).</span>
                                    }

                            }
                        </div>


                        break;
                }
            }
            else
            {
                if (Request.Method == "GET")
                {
                    string ejercicio = Request.Query["ejercicio"];
                    switch (ejercicio)
                    {
                        case "1":
                                <h1>Operaciones con números</h1>
                            <div>
                            
                                <form name="formEjercicio1" method="post" action="/?ejercicio=1">
                                        <fieldset>
                                            <label>Primer Número</label>
                                                <input type="number" name="num1" required />
                                            <br />
                                            <label>Segundo Número</label>
                                                <input type="number" name="num2" required />
                                            <br />
                                                <input type="submit" value="Operar" class="boton" />
                                        </fieldset>
                                </form>
                            </div>
                            break;
                        case "2":
                                <h1>Cuenta palabras</h1>
                            <div>

                                <form name="formEjercicio2" method="post" action="/?ejercicio=2">
                                
                                <fieldset>
                                    <label>Frase</label>
                                    <input type="text" name="texto" />
                                    <br/>
                                    <label>Palabra</label>
                                    <input type="text" name="palabra" />
                                            <br />
                                                <input type="submit" value="Cuenta" class="boton" />
                                </fieldset>
                                </form>
                            </div>


                            break;
                        case "3":
                                <h1>Cuenta días</h1>
                            <div>

                                <form name="formEjercicio3" method="post" action="/?ejercicio=3">
                                    <fieldset>
                                        <span>Hoy: @DateTime.Now.ToString("dd/MM/yyy")</span>
                                        <br/>
                                        <label>Fecha</label>
                                                <input type="datetime" name="fecha" required />
                                        <br/>
                                                <input type="submit" value="Contar días" class="boton" />
                                    </fieldset>
                                </form>
                                </div>


                                break;
                            default:
                                <h2>Portada</h2>
                                <br/>
                                <h3>Ejercicio 1</h3>
                                <p>Consta de la petición de dos números y se devolverán varias operaciones matemáticas realizadas con los antes mencionados.</p>
                                <br />
                                <h3>Ejercicio 2</h3>
                                <p>Se solicitará un texto y una palabra, El programa mostrará cuantas veces aparece la palabra introducida en el texto.</p>
                                <br />
                                <h3>Ejercicio 3</h3>
                                <p>Se solicitará una fecha válida (inferior al día de hoy) y se indicarán cuantos días han pasado desde ese momento.</p>

                                break;
                        }
                }
            }
        }
        </section>
        <aside>
        
        <a href="/?ejercicio=1">Ejercicio 1</a>
            <br />
            <br />
            <br />
            <br/>
        <a href="/?ejercicio=2">Ejercicio 2</a>
            <br />
            <br />
            <br />
            <br />
        <a href="/?ejercicio=3">Ejercicio 3</a>
            <br />
            <br />
            <br />
            <br />
        <a href="/">Principal</a>
        
        </aside>
        </div>
        <footer>19/05/2023 - CIFP César Manrique - Samuel Alvarado Yanes</footer>
    </body>
    </html>
}
